body {
  &.before-loading {
    overflow: hidden;
  }
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: white;
  transition: 0.5s;
  opacity: 0;

  .before-loading & {
    opacity: 1;    
  }
}

.loading-circle {
  width: 54px;
  height: 54px;
  animation: loading-circle-spin 3s infinite;


  circle {
    stroke: black;
    stroke-width: 4;
    fill: none;
    stroke-dasharray: 157;
    stroke-dashoffset: 0;
    transition: 1s;
    animation: loading-circle-ani 1s infinite;
  }
}

@keyframes loading-circle-spin {
  100% { transform: rotate(300deg); }
}

@keyframes loading-circle-ani {
  0% {
    stroke-dashoffset: 157;
  }

  75% {
    stroke-dashoffset: -147;
  }

  100% {
    stroke-dashoffset: -157;
  }
}





