.nav-container {

}

.global-nav,
.local-nav {
  padding: 0 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.global-nav {
  height: 44px;
  z-index: 10;
}

.local-nav {
  z-index: 11;
  top: 45px;
  height: 52px;
  border-bottom: 1px solid #ddd;
 
  .local-nav-sticky & {
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: saturate(180%) blur(15px);
    -moz-backdrop-filter: saturate(180%) blur(15px);
    -o-backdrop-filter: saturate(180%) blur(15px);
    backdrop-filter: saturate(180%) blur(15px);
  }
}

.global-nav-links,
.local-nav-links {
  display: flex;
  align-items: center;  
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.global-nav-links {
  justify-content: space-between;
  
}

.product-name {
  margin-right: auto;
  font-weight: bold;
}

.local-nav-links {
  .product-name { 
    font-size: 1.4rem;
  }
  
  a {
    font-size: 0.8rem; 

    &:not(.product-name) {
      margin-left: 2em;
    }
  }
}
