.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35vh;
  height: 3em;
  font-size: 1.6rem;
  margin: 12px 0;

  p {
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
  }

  small {
    display: block;
    margin-bottom: 0.5refm;
    font-size: 1.2rem;
  }

  &.a , &.b, &.c, &.d {
    opacity: 0;
  }
}

.scroll-section {
  position: relative;
  padding-top: 50vh;
}

#scroll-section-0 {
  h1 {
    position: relative;
    z-index: 1;
    font-size: 4rem;
    text-align: center;
    top: -10vh;
  }
}

.description {
  margin: 0 auto;
  max-width: 1000px;
  font-size: 1.2rem;
  color: #888;

  strong {
    float: left;
    margin-right: 0.5rem;
    font-size: 3rem;
    color: rgb(29, 29, 31);
  }
}

#scroll-section-2 {
  .main-message {
    font-size: 3.5rem;
  }

  .b {
    top: 10%;
    left: 40%;
  }

  .c {
    top: 15%;
    left: 45%;
  }
}

.desc-message {
  width: 50%;
  font-weight: bold;
  opacity: 0;
}

.pin {
  width: 1px;
  height: 100px;
  background-color: rgb(29,29,31);
}

.mid-message {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 2rem;
  color: #888;

  strong {
    display: block;
    color:  rgb(29,29,31);
  }
}

.canvas-caption {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #888;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  color: white;
  background-color: darkorange;
}

#scroll-section-3 {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.image-blend-canvas {
  &.sticky {
    position: sticky;
    top: 0;
  }
}

@media (min-width: 1024px) {   
  #scroll-section-0 h1 {
    font-size: 9vw;
  }
  
  .main-message {
    font-size: 4vw;
  }

  .description {
    font-size: 2rem;

    strong {
      font-size: 6rem;
    }
  }

  #scroll-section-2 {
    .main-message {
      font-size: 6vw;
    }
  
    .b {
      top: 20%;
      left: 53%;
    }
  
    .c {
      left: 55%;
    }
  }

  .main-message small {
    font-size: 1.5vw;
  }

  .desc-message {
    width: 20%;
  }

  .mid-message {
    font-size: 4vw;
  }

  .cavas-cpation {
    font-size: 2rem;
  }


}

